body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f0f0f0, #d1c4e9);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    position: absolute;
    top: 20px;
    text-align: center;
    width: 100%;
}

header h1 {
    font-size: 2.5em;
    color: #333;
}

header button{
    position: absolute;
    font-size: .66em;
    color: #b7a5da;
    right: 150px;
    border-width: 2.2px;
    border-color: #b7a5da;
    border-style: solid;
    border-radius: 5px;
    background-color:#333;
}
header button:hover {
    color: #d1c4e9;
    background-color: #f0f0f0;
}
main {
    text-align: center;
    font-size: 1.5em;
    color: #222222;
}

main div1 {
    text-align: center;
    font-size: 1em;
    color:#222222;
}

main a {
    color: #007BFF;
    text-decoration: none;
}

main a:hover {
    color: #0056b3;
}

.students {
    font-size: 1em;
    color:#cc45ee;
    -webkit-text-stroke: .25px black;
}

.test {
    position: absolute;
    right: -15px;
    top: 35px;
}

footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}
footer div {
    font-size: 1em;
    color: #333;
}